.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
.build-cache/

# Swift build artifacts
*.o
*.pcm
*.swiftmodule
*.swiftsourceinfo

# Packaging output
dist/

#certificates
certs/